/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.grid_1 { width: 65px; }
.grid_2 { width: 150px; }
.grid_3 { width: 235px; }
.grid_4 { width: 320px; }
.grid_5 { width: 405px; }
.grid_6 { width: 490px; }
.grid_7 { width: 575px; }
.grid_8 { width: 660px; }
.grid_9 { width: 745px; }
.grid_10 { width: 830px; }
.grid_11 { width: 915px; }
.grid_12 { width: 1000px; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12, {
	margin: 0 5px 5px 0;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

h1 {
	color: #FBFCD0; 
	font-family: impact; 
	font-size: 70px; 
	background-color: #7B86E2; 
	margin-bottom: -25px;
	padding-top: 25px;
	text-shadow: 0px 1px 0px #D1E7F9;

}

h2 {
	color: #7B86E2; 
	font-family: impact; 
	font-size: 40px; 
	background-color: #D1E7F9;
	margin-top: 20px;
	margin-bottom: 20px; 
}

body {
	background-color: #FBFCD0; 
	color: #7286B5; 
	font-family: verdana;
	margin: 0 auto;z
	width: 1000px;
	background-size: 1000px
}

h3 {
	font-family: arial black; 
	font-size: 30px;
}


h4 {
	font-family: arial black; 
	font-size: 20px;
}


h5{
	font-family: arial black; 
	font-size: 16px;
}

h6{
	font-family: arial; 
	font-size: 14px;
}

ul {
	list-style: square;
	margin-left: 50px;
	margin-bottom: 20px;
}

div {
	margin-bottom: 20px;
}

#navbar ul {
	margin: 0; 
	padding: 4px; 
	list-style-type: none; 
	text-align: right; 
}

#navbar li {
	display: inline;
}

#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #a8a8a8;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #FBFCD0; 
	} 

#quote {
	text-align: center;
}

.background1 {
	background-color: #FBFCD0
	/*background: url(images/texture.jpg);*/
}

header img {
	border-radius: 5px;
	margin-left: 20px;
	margin-top: 20px;
}

header {
	background-color: #FFFFFF; 
	margin: 0 auto;
	width: 1000px;
	height: 350px;
	margin-top: 20px;
	border-radius: 2px;
}

article {
	background-color: #FFFFFF; 
	margin: 0 auto;
	width: 1000px;
	height: 1000px;
	margin-top: 20px;
	border-radius: 5px;
}

#p1 {
	margin-left: 460px;
	margin-right: 20px;
	margin-top: -310px;
	text-transform: lowercase;
	line-height: 25px;
	font-family: verdana;
}

b {
	font-family: verdana; 
	font-weight: bold; 
	font-size: 25px; 
	color: #00ced1;
}

article img {
	margin-top: 0px;
	margin-left: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px
}

article p {
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 10px;
	background: #D1E7F9;
	width: 300px;
	height: 30px;
}

a {
	text-decoration: none
}

.container {
	float: left;
	display: inline;
	position: relative;
	width: 30%;
	margin-left: 20px;
}

.background2 { 
	background-color: #FFFFFF;
	margin: 0 auto;
	width: 1000px;
	height: 1000px;
	margin-top: 20px;
	border-radius: 5px;
}

section {
	background-color: #D1E7F9;
	margin: 0 auto;
	width: 1000px;
	height: 500px;
	margin-top: 20px;
	border-radius: 5px;
}

form {
	float: left;
	margin: 50px 0 0 250px;
	background-color: #D1E7F9;
}

form li {
	list-style: none;
	martin-bottom: 20px;
}

form ul {
	padding left: 0;
}

label {
	display: block;
	cursor: pointer;
	text-align: left;
}

#name {
	width: 500px;
	padding: 5px;
	margin: 5px 0 5px 0;
}

#email {
	width: 500px;
	padding: 5px;
	margin-bottom: 5px;
	margin: 5px 0 5px 0;
}

#comments {
	margin: 5px 0 5px 0;
}

textarea {
	width: 500px;
	height: 200px;
	padding: 5px;
	margin-bottom: 5px
}

h1 a {
	color: #FBFCD0;
}

